body{
    background-image: url(assets/images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1024px) {
    .containerlayout {
        max-width: 1540px;
        margin: 0 auto;
    }
}

.form-select {
    background-image: url('./assets/icons/dropdownIcon.svg');
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
    background-color: white;
    color: white;
  }


  @font-face {
    font-family: 'gillroy-black';
    src: url('./assets/Fonts/gilroy-black.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .dashboard-heading{
    font-family: gillroy-black;
    font-family: 900;
  }